<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

<div class="container-fluid row">
    <h1> REGISTERATION FORM</h1>
    <div class="col-sm-6" style="background-color:rgb(5, 145, 68);">
        <h2 style="color: white;">Enter your info:</h2><br>
        <app-info 
                (getPerson)="getData($event)"
                [selectedPerson]="selectedPerson"
                (checked)="getData($event)">
        </app-info>


    </div>

    <div class="col-sm-6" style="background-color:rgb(252, 110, 15);">
        <h2>Results:</h2>
        <app-print
                [employeeList]="employeeList" 
                (editedRow)="editRow($event)" 
                (deletedRow)="deleteRow($event)">
        </app-print>
    </div>
</div>



<!-- <div class="container-fluid">
    <h1>REGISTRATION FORM</h1>
  
    <div class="row">
      <div class="col-sm-6" style="background-color:lavender;">
          <div class="column" style="background-color:rgb(191, 126, 245);">
              <h2>Enter your info:</h2>
              <br>
              <label for="First name"><b>First name</b></label>
              <input type="text" placeholder="Enter name" name="email" id="name">
              <label for="Last name"><b>Last name</b></label>
              <input type="text" placeholder="Enter lastname" name="email" id="lastname">
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" id="email">
              <label for="gender"><b>Gender</b> </label>
              <br>
              <select name="" id="gender">
                  <option value="male"> male</option>
                  <option value="female"> female</option>
                  <option value="none of them">none of them</option>
              </select> <br><br>
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" id="psw">
  
              <label for="psw-repeat"><b>Repeat Password</b></label>
              <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat">
              <hr>
  
  
              <button onclick="register()" class="registerbtn" id="addItem"><b>DONE</b> </button>
          </div>
      </div>
      <div class="col-sm-6" style="background-color:lavenderblush;">
          <div class="column" style="background-color:rgb(226, 157, 235);">
              <h2>Results:</h2>
              <table id="myTable">
                  <tr>
                      <th>Name</th>
                      <th>Lastname</th>
                      <th>Email</th>
                      <th>Gender</th>
                      <th>Delete</th>
                      <th>Edit</th>
                  </tr>
            
              </table>
  
  
  
          </div>
      </div>
    </div>
  </div>
   -->